body {
  margin: 3px;
  border: 1px solid black;
}

h1 {
  font-size: 3em;
  display: inline-block;
  padding-left: 15px;
}

h2 {
  font-size: 2.5em;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */

}

@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
