.icon-menu {
  display: inline;
  /*position: absolute;*/
  left: 0;
  font-size: 2em;
  margin: 5px;
}

nav ul {
  display: none;
  padding: 5px;
  clear: both;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  nav ul {
    display: block;
  }

  nav ul li {
    display: inline-block;
  }
}
