.icon-menu {
  display: inline;
  left: 0;
  font-size: 2em;
  margin: 5px;
}

nav ul {
  display: none;
  padding: 5px;
  clear: both;
}


#head_shot img {
  display: block;
  margin: 25px auto;
  border-radius: 50%;
  max-width: 100%;
}

#projects {
  display: none;
}

#about_me {
  display: none;
}

#social {
  width: 100%;
  margin: auto;
  text-align: center;
  display: none;
}

#social ul {
  display: block;
}

#social ul li {
  display: inline-block;
  font-size: 4em;
  margin: 50px;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  nav ul {
    display: block;
  }

  nav ul li {
    display: inline-block;
    margin: 50px;
  }
}
